* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

window#waybar {
    background-color: rgba(5, 5, 15, 1); /* Negro profundo con transparencia */
    color: #ffffff;
}

#workspaces button {
    background-color: rgba(42, 28, 61, 0.8); /* Morado oscuro */
    color: #ffffff;
    border: none;
    margin: 2px;
    padding: 0 8px;
}

#workspaces button:hover {
    background-color: rgba(93, 46, 70, 0.9); /* Rosa oscuro */
    color: #ffffff;
}

#workspaces button.active {
    background-color: rgba(222, 181, 223, 0.9); /* Rojo oscuro */
    color: #ffffff;
}

#clock, #cpu, #memory, #battery, #network, #tray, #bluetooth, #pulseaudio, #mpd, #custom-power, #custom-launcher {
    background-color: rgba(42, 28, 61, 0.8); /* Morado oscuro */
    color: #ffffff;
    padding: 0 10px;
    margin: 2px;
}

#tray {
    background-color: transparent; /* Transparencia en el área del tray */   
}

#battery.warning:not(.charging) {
    background-color: rgba(74, 31, 31, 0.9); /* Rojo oscuro para advertencia */
    color: #ffffff;
}
